/**
 * @package pinbin
 */

@import url( 'style.css' );

/* Add overwrites as needed so that the content of the editor field is attractive and not broken */
body { 
	padding: 5px 15px;
	width: auto;
} 
